<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Factory Reset</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../../utils/data.js"></script>
    <script defer src="../../utils/language.js"></script>
    <script defer src="../../controller/config/factory-reset.js"></script>
</head>

<body>
    <div class="factory-reset">
        <div class="dialog-container">
            <h3>Are you sure you want to reset the gateway to default configuration?</h3>
        </div>

        <div class="button-container">
            <button class="button left-button" id="factory-reset-button">Factory Reset</button>
            <button class="button right-button" id="cancel-button">Cancel</button>
        </div>
    </div>
</body>

</html>