<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Modbus Gateway Manager - Configuration</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../../utils/data.js"></script>
    <script defer src="../../utils/language.js"></script>
    <script defer type="module" src="../../controller/config/general-config.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../assets/images/cevie.png" alt="Cevie">
            </div>
            <ul>
                <li class="selected" id="sidebar-general">General</li>
                <li class="clickable" id="sidebar-mode">Mode</li>
                <li class="clickable" id="sidebar-serial">Serial</li>
                <li class="clickable"  id="sidebar-network">Network</li>
            </ul>
        </div>
        <div class="config-content">
            <div class="input-list">
                <div class="content-container">
                    <h2>General Configuration</h2>
                    <div class="input-item">
                        <label class="input-label" for="input1" id="device-id">Device ID</label>
                        <input type="text" id="input1" class="input-field" disabled placeholder="Device ID">
                    </div>
            
                    <div class="input-item">
                        <label class="input-label" for="input2" id="name">Name</label>
                        <input type="text" id="input2" class="input-field" placeholder="example: device1">
                    </div>
            
                    <div class="input-item">
                        <label class="input-label" for="input3" id="status">Status</label>
                        <input type="text" id="input3" class="input-field" disabled placeholder="Ready">
                    </div>
            
                    <div class="input-item">
                        <label class="input-label" for="input4" id="fac-res">Factory Reset</label>
                        <button class="button left-button factory-reset-button" id="factory-reset-button">Factory Reset</button>
                    </div>
                </div>
                <div class="button-container button-config">
                    <button class="button left-button" id="next-button">Next</button>
                    <button class="button right-button" id="cancel-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>